

<div fxLayout="column" fxLayoutGap="80px" class="inp">
  <div fxLayoutGap="80px">
  </div>
  <div>
    <form class="example-form-field">
      <mat-form-field class="example-full-width">
        <input #newTemp matInput placeholder="Temp" value={{temp}}>
        <button mat-button  matSuffix mat-icon-button  (click)="addTemp(newTemp.value)">
          <mat-icon>s</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <input #newSP matInput placeholder="comfort SP" value={{sp}}>
        <button mat-button  matSuffix mat-icon-button  (click)="addSP(newSP.value)">
          <mat-icon>s</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>


    <div>
      <mat-form-field>
        <mat-select placeholder="select sp mode" [(ngModel)]="curSpMode" (change)="onSpMode()">
          <mat-option *ngFor="let mode of modes" [value]=mode.id>
            {{mode.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="select thermo mode" [(ngModel)]="curThMode" (change)="onThMode()">
          <mat-option *ngFor="let mode of thermoModes" [value]=mode.id>
            {{mode.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>
    <!--
    <div>
      <p> Selected sp value: {{curSpMode}} </p>
      <p> Selected thermo value: {{curThMode}} </p>
    </div>
  -->






</div>
