<h3>Ets groupaddresses</h3>

<form [formGroup]="etsForm" (ngSubmit)="onSubmit()" novalidate>


  <div formArrayName="secretLairs" class="well well-sm">
  <div *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i" >
    <!-- The repeated address template -->
    <h5>{{this.ets[i].name}}</h5>

      <div class="form-group">
        <label class="center-block">
          <input class="form-control" formControlName="ga">
        </label>
      </div>


    <br>
    <!-- End of the repeated address template -->
  </div>
</div>
<button type="submit"
  [disabled]="etsForm.pristine"
  class="btn btn-success">Save</button>

</form>

<p>heroForm value: {{ etsForm.value | json}}</p>
