<h3>
  Ets group addresses
</h3>

<div class="container">
    <h1>ETS Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      {{diagnostic}}

      <div class="form-group">
        <label for="ga_1">ga_1</label>
        <input type="text" class="form-control" id="ga_1"
               required
               [(ngModel)]="model.ga_1" name="name">
      </div>

      <div class="form-group">
        <label for="ga_2">ga_2</label>
        <input type="text"  class="form-control" id="ga_2"
               [(ngModel)]="model.ga_2" name="ga_2">
      </div>

      <div class="form-group">
        <label for="ga_3">ga_3</label>
        <input type="text"  class="form-control" id="ga_3"
               [(ngModel)]="model.ga_3" name="ga_3">
      </div>

      

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>

<button mat-button (click)="test()">test</button>
<!--
<div class="example-container">
  <mat-form-field>
    <input matInput #newGa1 placeholder="External temperature" value={{ga1}}>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Setpoint input">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Setpoint output">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="mode input">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="mode output">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="heating active">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="pi heating">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="cooling active">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="pi cooling">
  </mat-form-field>

<button mat-raised-button>Send GA</button>

</div>
-->
