@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;

}

.form-group > * {
  width: 20%;
  padding-left: 0px;
  margin-left: 1em;

}

h3 {
  padding-top: 30pxform-group;
  padding-left: 30px;
}
